@media screen and (min-width: 480px) {

/*********************** CONTATTI ***********************/

	#info{
		width: 50%;
		float: left;
	}	
	
	#contatti {
		width: 40%;
		float: right;
		
	}

	nav a.selected {
	color: #077849;
	}

	nav a:hover {
	color: #077849;
	}

}

@media screen and (min-width: 660px) {
	
/*********************** CHI SIAMO ***********************/

	.foto {
		float: left;
		margin: 0 5% 50px 0;
	}


/*********************** PORTFOLIO ***********************/
 

	#gallery li {
		width: 28.333333%;
	}


/*********************** HEADER ***********************/

	#logo {
		float: left;
		width: 45%;
		margin-left: 5%;
		text-align: left;
	}

	nav {
		float: right;
		width: 45%;
		margin-right: 5%;
		background: none;
		text-align: right;
		padding-top: 55px;
	}

	nav a {
		padding: 0 5px;
		font-weight: bold;
	}

	nav a.selected {
	color: #077849;
	}

	nav a:hover {
	color: #077849;
	}

	header {
		border-bottom: 5px solid #077849;
	}



 }